/*ESTILOS CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(./fondoo.png);
  margin-left: 70px;
  margin-right: auto;
  padding: 10px;
}

.contenedor_preguntas {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  margin: auto;
  width: 700px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

input {
  background: rgba(0, 0, 0, 0.5);
  width: 25%;
  padding: 10px;
  border-radius: 4px;
  margin: 0 0 20px 0;
  border-bottom: 4px solid #28b6af;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  color: aliceblue;
  margin-top: 20px;
  transition: all 0.5s ease;
}

input:focus {
  border-bottom: 4px solid #104386;
}
.menu {
  margin: 20px;
  height: 100%;
}
.menu span {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  padding-top: 35px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.menu_principal .contenedor_pregutnas h1 {
  float: left;
  font-size: 28px;
  margin-left: 250px;
  margin-top: 25px;
  width: 100%;
  height: 50px;
}
.menu_principal {
  background: #2f2f2f;
  color: white;
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

#areaResultado {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 50px;
  width: 50%;
  border-radius: 5px;
  color: #0178ff;
}

#resultado4 {
  background: #fff;
  width: 150%;
  overflow: hidden;
  height: 50px;
  border-radius: 5px;
}
button {
  width: 150px;
  margin-bottom: 10px;
  background: #0cd2ec;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
button :hover {
  background: rgba(18, 189, 89, 0.6);
}
.marca {
  color: antiquewhite;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: #fff;
  background: #0cd2ec;
  width: 150px;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
